/**
 * Title: CSS file for social links challenge provided by Frontend Mentor.
 * Author: Nathan Addison (r3cla).
 * Description: Default styling is for mobile screens and similar sized devices.
 * Creation Date: Feb 2024.


 */
 

/* text styles */

body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 8%); /* off black */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.title { 
    font-weight: 700;
    font-size: 1.4em;
    color: hsl(0, 0%, 100%);
}

.subtitle { 
    font-weight: 600;
    font-size: 0.9em;
    color: hsl(75, 94%, 57%);
}

.bio {
    font-weight: 400;
    font-size: 0.8em;
    color: hsl(0, 0%, 100%);
    
}

/* card styles */

.card { 
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px hsl(0, 0%, 29%);
    text-align: center;
    width: 375px; 
}

.social-links a { /* styles for social link buttons */
    color: hsl(75, 94%, 57%);
    text-decoration: none;
    font-weight: 600;
    margin: 0 10px;
}

.social-links a:hover {
    text-decoration: underline;
}

.pfp { /* profile pic aka avatar */
    width: 100px; 
    height: auto; 
    border-radius: 50%; /* Circular shape */
    margin: 0 auto 20px; 
    display: block; 
}

/* footer styles */

.attribution {
    font-size: 0.7em;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: hsl(220, 15%, 55%); 
    background-color: hsl(0, 0%, 8%);
    box-shadow: hsl(0, 0%, 11%);
    padding: 1em; 
  }
  
  .attribution a {
    color: hsl(218, 44%, 22%); 
    text-decoration: none;
  }
  
  .attribution a:hover {
    text-decoration: underline;
  }


/* media queries for larger screens if needed

@media (min-width: 1440px) {
    .card { 
        width: 1440px; 
}
} */