/**
 * Title: CSS file for social links challenge provided by Frontend Mentor.
 * Author: Nathan Addison (r3cla).
 * Description: Default styling is for mobile screens and similar sized devices.
 * Creation Date: Feb 2024.


 */
 

/* text styles */

html, body {
    font-family: 'Inter', sans-serif;
    background-color: hsl(0, 0%, 8%); /* off black */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.title { 
    font-weight: 700;
    font-size: 1.5em;
    color: hsl(0, 0%, 100%);
}

.subtitle { 
    font-weight: 600;
    font-size: 1.1em;
    color: hsl(75, 94%, 57%);
    text-shadow: 0 0 4px hsl(75, 94%, 57%);
    margin-top: -5px;
}

.bio {
    font-weight: 400;
    font-size: 1em;
    color: hsl(0, 0%, 100%);
    margin-top: 35px;
    margin-bottom: 10px;
    
}

/* card styles */

.card { 
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px hsl(0, 0%, 18%);
    text-align: center;
    width: 100%;
    max-width: 350px;
    margin: 15px;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links a { 
    color: hsl(0, 0%, 100%); 
    background-color: hsl(0, 0%, 20%); 
    text-decoration: none;
    font-weight: 600;
    margin: 10px 0;
    padding: 10px 20px;
    border: 2px solid hsl(0, 0%, 20%); 
    border-radius: 5px;
    display: block;
    width: 80%;
}

.social-links a:hover {
    color: hsl(0, 0%, 12%); 
    background-color: hsl(75, 94%, 57%); 
    text-decoration: none;
    border-color: hsl(75, 81%, 80%); 
}

.pfp { /* profile pic aka avatar */
    width: 100px; 
    height: auto; 
    border-radius: 50%; /* Circular shape */
    margin: 0 auto 20px; 
    display: block; 
}

/* footer styles */

.attribution {
    font-size: 0.8em;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: hsl(220, 15%, 55%); 
    background-color: hsl(0, 0%, 12%);
    box-shadow: hsl(0, 0%, 11%);
    padding: 1em; 
  }
  
.attribution a {
    color: hsl(218, 26%, 47%); 
    text-decoration: none;
  }
  
.attribution a:hover {
    text-decoration: underline;
  }


/* media queries for larger screens */

@media screen and (min-width: 1920px) {
.card {
width: 400px;
    
    }
}